language: node_js
node_js: node
services:
  - mongodb
deploy:
  provider: heroku
  api_key:
    secure: 70204ff5-1109-4a5a-bc2b-95a123876c50
  app: secure-everglades-11196
  on:
    repo: matteprg/Mobile-Detailing-Blog
