language: node_js
node_js: node
services:
  - mongodb
deploy:
  provider: heroku
  api_key:
    secure: 0006b29b-356d-4d96-a69e-40b7dccdc1eb
  app: mobile-detailer-props-blog
  on:
    repo: matteprg/Mobile-Detailing-Blog
