* {
  box-sizing: border-box;
}

a {
  color: black;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("photos/1810144-2.png");
  /* The image used */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* Full height */
  background-size: cover;
}
legend {
  padding-bottom: 25px;
}
/* Add a black background color to the top navigation */
.dashboard-header {
  padding-top: 15px;
  color: white;
  font-size: 30px;

}
.header {
  padding: 60px;
  text-align: center;
  background: url(photos/2932191.png) no-repeat center top;
  background-color: white;
  color: white;
  background-size: cover;
}

/* Style the top navigation bar */

.navbar {
  background-color: #333;
  margin-bottom: 10px;
  overflow: hidden;
}

/* Style the navigation bar links */

.navbar a {
  float: left;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
}
/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar .icon {
  display: none;
}
#active {
  background-color: rgb(211, 53, 53);
  color: white;
}
/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}
.author {
  margin-bottom: 0;
}
.blogContainer {
  margin: auto;
  background-color: rgb(218, 218, 218);
  width: 65%;
  padding: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
img {
  min-width: 100%;
  max-width: 100%;
}
.post-header {
	border-bottom: 2px solid #000;
    margin-top: 72px;
    font-size: 36px;
    width: 73%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 52px;
    text-align: center;
}
.post-header legend {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* input[type="email"], input[type="password"] {
	display: block;
    width: 322px;
    padding: 5px;
    margin: 10px auto 20px auto;
    font-size: 18px;
    border: 2px solid #e6e6e6;
    background-color: #f2f2f2;
} */

/* Style inputs, select elements and textareas */
input[type=text], select, textarea, .login-form, .signUp-form{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  padding: 20px;
}
/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  text-align: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* input[type="desc"] {
  display: block;
  width: 322px;
  padding: 5px;
  margin: 10px auto 20px auto;
  font-size: 18px;
  border: 2px solid #e6e6e6;
  background-color: #f2f2f2;
  height: 100px !important;
} */
/* label {
	font-size: 18px;
} */
.submit-btn, .signUp-btn, .login-btn {
  width: 35%;
  margin-top: 15px;
    padding: 12px;
    background-color: #0a0ef8bf;
      transition: background-color 0.5s ease;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    color: white;

}
.submit-btn:hover, .signUp-btn:hover, .login-btn:hover {
	cursor: pointer;
	background-color: #8486f8bf;
}

#newPost {
  margin: auto;
  background-color: rgb(218, 218, 218);
  width: 65%;
  max-width: 550px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  text-align: center;
}
#login {
  margin: auto;
  background-color: rgb(218, 218, 218);
  width: 65%;
  max-width: 550px;
  padding: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#signUp {
  margin: auto;
  background-color: rgb(218, 218, 218);
  width: 65%;
  max-width: 550px;
  padding: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#editPost {
  margin: auto;
  background-color: rgb(218, 218, 218);
  width: 65%;
  max-width: 550px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  text-align: center;
}
#singlePost {
  margin: auto;
  background-color: rgb(218, 218, 218);
  width: 65%;
  max-width: 550px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

/* #signup {
  margin: auto;
  background-color: rgb(218, 218, 218);
  width: 65%;
  padding: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
} */



@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}